---
import '../styles/global.css';
import { Image } from 'astro:assets';
import localMailIcon from '../../public/mail-icon.png';
import localLinkedInIcon from '../../public/linkedin-icon.png';
import localGithubIcon from '../../public/github-icon.png';

import localJsIcon from '../../public/js-icon.png';
import localTsIcon from '../../public/ts-icon.png';
import localTailwindIcon from '../../public/tailwind-icon.png';
import localReactIcon from '../../public/react-icon.png';
import localAstroIcon from '../../public/astro-icon.png';
import localNestIcon from '../../public/nest-icon.png';
import localExpressIcon from '../../public/express-icon.png';
import localDockerIcon from '../../public/docker-icon.png';
import localMySQLIcon from '../../public/mysql-icon.png';
import localMariaDBIcon from '../../public/mariadb-icon.png';
import localMongoDBIcon from '../../public/mongodb-icon.png';
import localNodeIcon from '../../public/node-icon.png';
import localGitIcon from '../../public/git-icon.png';
// Component Imports

// Full Astro Component Syntax:
// https://docs.astro.build/basics/astro-components/
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<title>Krzysztof Kiełek</title>
	</head>

	<body id="home" class="bg-slate-950 text-white flex flex-col sm:items-center justify-between p-5 h-screen gap-10">
		<!-- <nav class="rounded-4xl p-0.5 bg-stone-300 text-slate-500 fixed z-50 hidden sm:block sm:w-auto">
			<ul class="flex-row gap-10 mx-3 p-2 hidden sm:flex">
				<li class="rounded-3xl px-2 py-1 hover:text-slate-900 transition-all duration-500 hover:bg-stone-200">
					<a href="#home">Home</a>
				</li>
				<li class="rounded-3xl px-2 py-1 hover:text-slate-900 transition-all duration-500 hover:bg-stone-200">
					<a href="#experience">Experience</a>
				</li>
				<li class="rounded-3xl px-2 py-1 hover:text-slate-900 transition-all duration-500 hover:bg-stone-200">
					<a href="#skills">Skills</a>
				</li>
				<li class="rounded-3xl px-2 py-1 hover:text-slate-900 transition-all duration-500 hover:bg-stone-200">
					<a href="#footer">Contact</a>
				</li>
			</ul>
		</nav> -->
		<home class="flex flex-row items-center w-full max-w-3xl mx-auto">
			<div>
				<h1 class="text-4xl text-blue-100 font-bold mb-4">Hi, I'am Krzysztof Kiełek 👋</h1>
				<p class="text-lg  text-gray-500 dark:text-gray-400">Software Engineer with a passion for technology and problem-solving. Focused on Web development and security.</p>
			</div>
		</home>
		<timeline id="experience" class="flex flex-col w-full max-w-3xl mx-auto">
			<ol class="relative border-s border-gray-200 dark:border-gray-700">                  
					<li class="mb-10 ms-6">            
							<span class="absolute flex items-center justify-center w-6 h-6 bg-blue-100 rounded-full -start-3 ring-8 ring-white dark:ring-gray-900 dark:bg-blue-900">
									<svg class="w-2.5 h-2.5 text-blue-800 dark:text-blue-300" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
											<path d="M20 4a2 2 0 0 0-2-2h-2V1a1 1 0 0 0-2 0v1h-3V1a1 1 0 0 0-2 0v1H6V1a1 1 0 0 0-2 0v1H2a2 2 0 0 0-2 2v2h20V4ZM0 18a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8H0v10Zm5-8h10a1 1 0 0 1 0 2H5a1 1 0 0 1 0-2Z"/>
									</svg>
							</span>
							<h3 class="flex items-center mb-1 text-lg font-semibold text-gray-900 dark:text-white">Software Engineer <span class="bg-blue-100 text-blue-800 text-sm font-medium me-2 px-2.5 py-0.5 rounded-sm dark:bg-blue-900 dark:text-blue-300 ms-3">Present</span></h3>
							<time class="block mb-2 text-sm font-normal leading-none text-gray-400 dark:text-gray-500">2022 -</time>
							<p class="mb-4 text-base font-normal text-gray-500 dark:text-gray-400">Developed, tested, and maintained software applications in collaboration with cross-functional teams. Participated in the full software development lifecycle (SDLC), from requirements analysis to deployment and support. Focused on writing clean, efficient, and scalable code aligned with best practices.</p>
					</li>
					<li class="mb-10 ms-6">
							<span class="absolute flex items-center justify-center w-6 h-6 bg-blue-100 rounded-full -start-3 ring-8 ring-white dark:ring-gray-900 dark:bg-blue-900">
									<svg class="w-2.5 h-2.5 text-blue-800 dark:text-blue-300" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
											<path d="M20 4a2 2 0 0 0-2-2h-2V1a1 1 0 0 0-2 0v1h-3V1a1 1 0 0 0-2 0v1H6V1a1 1 0 0 0-2 0v1H2a2 2 0 0 0-2 2v2h20V4ZM0 18a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8H0v10Zm5-8h10a1 1 0 0 1 0 2H5a1 1 0 0 1 0-2Z"/>
									</svg>
							</span>
							<h3 class="mb-1 text-lg font-semibold text-gray-900 dark:text-white">IT support specialist</h3>
							<time class="block mb-2 text-sm font-normal leading-none text-gray-400 dark:text-gray-500">2021 - 2022</time>
							<p class="text-base font-normal text-gray-500 dark:text-gray-400">Responsible for providing technical assistance and support to end users regarding hardware, software, and network-related issues. Diagnosed problems, installed and configured systems, and ensured smooth day-to-day IT operations. Collaborated with other IT teams to escalate and resolve complex issues.</p>
					</li>
					<li class="ms-6">
							<span class="absolute flex items-center justify-center w-6 h-6 bg-blue-100 rounded-full -start-3 ring-8 ring-white dark:ring-gray-900 dark:bg-blue-900">
									<svg class="w-2.5 h-2.5 text-blue-800 dark:text-blue-300" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
											<path d="M20 4a2 2 0 0 0-2-2h-2V1a1 1 0 0 0-2 0v1h-3V1a1 1 0 0 0-2 0v1H6V1a1 1 0 0 0-2 0v1H2a2 2 0 0 0-2 2v2h20V4ZM0 18a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8H0v10Zm5-8h10a1 1 0 0 1 0 2H5a1 1 0 0 1 0-2Z"/>
									</svg>
							</span>
							<h3 class="mb-1 text-lg font-semibold text-gray-900 dark:text-white">Bachelor of Engineering in Information Technology</h3>
							<time class="block mb-2 text-sm font-normal leading-none text-gray-400 dark:text-gray-500">2017 - 2022</time>
							<p class="text-base font-normal text-gray-500 dark:text-gray-400">A 4.5-year engineering program focused on the design, development, and maintenance of IT systems. Included both theoretical and practical courses in programming, computer networks, databases, software engineering, algorithms, cybersecurity, and systems analysis. Gained hands-on experience through laboratory classes, team projects, and an engineering thesis.</p>
					</li>
			</ol>
		</timeline>

		<skills id="skills" class="flex flex-col w-full max-w-3xl mx-auto">
			<div class="text-lg font-semibold text-gray-900 dark:text-white">
				Technologies I use
			</div>
			<div>
				<div class="text-sm text-gray-500 dark:text-gray-400 mb-2">
					Here are some of the technologies I work with on a daily basis. I am always eager to learn new tools and frameworks to enhance my skills and deliver better solutions.
				</div>
				<div class="flex flex-row flex-wrap gap-5 justify-center">
					<span>
						<Image src={localJsIcon} alt="Github Icon" height={48} />
					</span>
					<span>
						<Image src={localTsIcon} alt="Github Icon" height={48} />
					</span>
					<span>
						<Image src={localTailwindIcon} alt="Github Icon" height={48} />
					</span>	
					<span>
						<Image src={localReactIcon} alt="Github Icon" height={48} />
					</span>
					<span>
						<Image src={localAstroIcon} alt="Github Icon" height={48} />
					</span>	
					<span>
						<Image src={localNestIcon} alt="Github Icon" height={48} />
					</span>	
					<span>
						<Image src={localExpressIcon} alt="Github Icon" height={48} />
					</span>
					<span>
						<Image src={localDockerIcon} alt="Github Icon" height={48} />
					</span>	
					<span>
						<Image src={localMySQLIcon} alt="Github Icon" height={48} />
					</span>	
					<span>
						<Image src={localMariaDBIcon} alt="Github Icon" height={48} />
					</span>
					<span>
						<Image src={localMongoDBIcon} alt="Github Icon" height={48} />
					</span>	
					<span>
						<Image src={localNodeIcon} alt="Github Icon" height={48} />
					</span>
					<span>
						<Image src={localGitIcon} alt="Github Icon" height={48} />
					</span>	
				</div>
			
			</div>

		</skills>
		

		<footer id=footer class="flex flex-col p-0.5">
			<div class="flex flex-row justify-left gap-5 p-2">
				<p>Contact me:</p>
				<a href="mailto:krzysztof.piotr.kielek@gmail.com">
					<Image src={localMailIcon} alt="Mail Icon" height=24 />
				</a>
				<a href="http://www.github.com/keteik" target="_blank" rel="noopener noreferrer">
					<Image src={localGithubIcon} alt="Github Icon" height=24 />
				</a>
				<a href="https://www.linkedin.com/in/krzysztof-kielek/" target="_blank" rel="noopener noreferrer">
					<Image src={localLinkedInIcon} alt="LinkedIn Icon" height=24 />
				</a>
			</div>
			<p class="text-center text-sm text-slate-500">
				&copy; {new Date().getFullYear()} Krzysztof Kiełek. All rights reserved. Icons by <a href="https://icons8.com" target="_blank" rel="noopener noreferrer" class="text-blue-500 hover:underline">Icons8</a>.
			</p>
		</footer>
	</body>
</html>
